*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2 {
    margin-block-end: 0;
    margin-block-start: 0;
}

/* Header */
.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(255, 202, 92);
}
.shop-name {
    justify-self: flex-start;
}

/* Navigation */
.main-navigation {
    align-self: flex-end;
}
.navigation-list {
    display: flex;
    gap: 20px;
    list-style: none;
    display: flex;
}


/* cart */
.basket-button {
    background-color: transparent;
    padding: 0.5rem;
    border: none;
}
.basket-button:hover,
.basket-button:active {
    outline: none;
    border: none;
    scale: 1.02;
    border-radius: 10px;
    box-shadow: inset 1px 1px 3px rgba(27, 100, 50, 0.5), inset -1px -1px 3px rgba(27, 100, 50, 0.5);
    cursor: pointer;
}
.pot-total {
    display: block;
}
.cart-icon {
    width: 10px;
    height: 10px;
    background-color: #ccc;
}
.pot-icon {
    display: inline-block;
    width: 20px;
    height: 10px;
    animation-duration: 0.1s;

}
.pot {
    width: 100%;
}

/* Basket */
.basket {
    position: relative;
    width: 40%;
    min-width: 400px;
    height: auto;
    padding: 2rem;
    position: fixed;
    background-color: #e7ebe3;
    border-radius: 20px;
    box-shadow: 1px 1px 10px black, -1px -1px 20px black;
    top: 6rem;
    right: 50%;
    transform: translateX(50%);
    z-index: 100;
    display: none;
}
.basket-list {
    list-style: none;
}
.basket-item {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.basket-header {
    padding: 0.5rem;
    color: #555;
    font-weight: bold;
    font-style: italic;
    /* border: 1px solid green; */
}
.button-space {
    width: 50px;
}
.remove-button {
    color: red;
    width: 25px;
}
.add-button {
    color: green;
    width: 25px;
}
.basket-product-name{
    flex: 1 0 100px;
    /* border: 1px solid green; */
    /* border-right: 1px solid #333; */
}
.basket-product-price {
    /* border: 1px solid green; */
    flex-basis: 60px;
}
.basket-product-amount {
    /* border: 1px solid green; */
    flex-basis: 80px;
}
.basket-product-sum {
    /* border: 1px solid green; */
    flex-basis: 60px;
}
.basket-total {
    margin: 0.3rem 0;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
}
#basket-total {
    width: 90px;
    text-align: left;
    padding-left: 0.3em;
}
.basket-actions {
    margin-top: 0.3rem;
    display: flex;
    justify-content: space-around;
}
.basket-actions button {
    background-color: rgba(255, 202, 92);
    padding: 0.5em;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
}
.basket-actions button:hover,
.basket-actions button:active {
    scale: 1.03;
    border: 1px solid #333;
}
.backdrop {
    width: 100%;
    height: 110vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1f864dbb;
    z-index: 50;
    display: none;
}

/* Main */
.background-image {
    position: fixed;
    width: 110%;
    height: 110vh;
    background: url(./assets/background.png);
    background-size: 100%;
    z-index: -50;
    top: 0;
}
main {
    display: flex;
}
aside {
    background-color: #69a153d7;
    padding: 0.5rem;
    padding-left: 1rem;
    min-height: 100vh;   
    min-width: 200px; 
}
.search-field {
    width: 100%;
}
.search-field label {
    display: inline-block;
    width: 100%;
    font-style: italic;
    color: #333;
    text-align: center;
}
.search-bar {
    width: 100%;
    line-height: 1.3rem;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    padding: 0.2rem;
    border-radius: 9px;
    border:  1px solid transparent;
}
.search-bar:active,
.search-bar:focus {
    outline: none;
    border:  1px solid rgba(255, 202, 92);
}
.selection-menu {
    list-style: none;
}
.selection-menu li {
    line-height: 1.5em;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 0.2rem;
}
.selection-menu li:hover,
.selection-menu li:active {
    text-decoration: none;
    font-style: italic;
    background-color: rgba(255, 202, 92);
    box-shadow: -10px 0 5px rgba(255, 202, 92);
    border-radius: 10px;
}
.main-content-wrapper {
    width: 100%;
    padding: 0 4rem;
    background-color: rgba(255, 201, 92, 0.521);
}
.dashboard {
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    background-color: #69a153d7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboard label {
    color: #555;
    font-style: italic;
}
.search-by-name {
    /* margin-left: 7rem; */
    width: 30%;
    padding: 0.1rem;
    line-height: 1.5rem;
    border-radius: 15px;
    border: 1px solid transparent;
}
.search-by-name:active,
.search-by-name:focus {
    outline: none;
    border: 1px solid rgba(255, 202, 92);
}
.tagname {
    display: inline-block;
    margin: 1rem 2rem;
    padding: 0.5rem;
    background-color: #69a15369;
    border-radius: 10px;
}
#selected-tagname {
    padding: 0.5rem;
    color: white;
}
.clear-tagname {
    width: 20px;
    border-radius: 15px;
    border: 1px solid #69a153fd;
    cursor: pointer;
    display: none;
}
.clear-tagname:hover {
    border: 1px solid rgba(255, 202, 92);
    scale: 1.02;
}
.main-content {
    list-style: none;
    width: 100%;
    /* width: 80%; */
    background-color: rgba(255, 201, 92, 0.521);
}

.main-content ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}


/* Footer */
footer {
    width: 100%;
    position: fixed;
    bottom: 5px;
    margin-top: 1.5rem;
    text-align: center;
    background-color: #ccc;
}


@keyframes bump {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.5;

    }
}

@media screen and (max-width: 768px) {
    .background-image {
        background: url(./assets/background-mobile.png);
        background-size: 100% ;
    }
}